
{% load static %}


{% block content %}
<div class="text-white mt-12 font-extrabold">
<div class="my-name text-6xl">
Hello
<span class="my-name">! </span><span class="my-name"> ^_^ </span>
</div>
<div class="text-xl">
  <span class="my-name">My Name</span> <span class="my-name">is</span> 
</div>
  <div class="text-6xl"><span class="my-name">Syeddinul</span> <span class="my-name">Faiz</span> <span class="my-name">Caniggia</span></div>
</div>

<div class="min-h-screen flex items-center justify-center">
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-7 gap-8 place-items-center">
      <img id="swifticon" class="logo1 h-20 w-20" src="{% static "images/Python.png" %}"  alt="Python logo">
      <img id="swifticon" class="logo2 h-20 w-20" src="{% static "images/c++.png" %}"  alt="C++ logo">
      <img id="swifticon" class="logo3 h-20 w-20" src="{% static "images/JSLogo.png" %}"  alt="JavaScript Logo">
      <img id="swifticon" class="logo4 h-20 w-20" src="{% static "images/html5.png" %}"  alt="HTML5 Logo">
      <img id="swifticon" class="logo5 h-20 w-20" src="{% static "images/css.png" %}"  alt="CSS Logo">
      <img id="swifticon" class="logo6 h-20 w-20" src="{% static "images/bslogo.png" %}"  alt="Bootstrap Logo">
      <img id="swifticon" class="logo7 h-20 w-20" src="{% static "images/oracledatabase.png" %}" alt="Oracle Database Logo">
  </div>
  </div>
  <!--Portofolio Page End-->



{% endblock %}
