{% extends 'blog/index.html' %}

{% block content %}
<a href="{% url 'index' %}" class="flex items-center space-x-2 w-20 h-20 text-white btn btn-secondary return-arrow">
  {% include './icons/back-arrow.svg' %} 
  <span class="return-text">Return</span>
</a>
 <div class="min-h-screen flex items-center justify-center">
   <div class="bg-slate-800 p-8 rounded-lg shadow-lg w-full max-w-4xl">
    <h2 class="text-2xl font-bold text-white mb-4 text-center">New post</h2>
    <form method="POST" class="text-white">
      {% csrf_token %}
      {{ form.media }}
     
      <div class="grid grid-cols-2 gap-6">
        <!-- Author -->
        <div class="col-span-1">
          <label for="author" class="block mb-2 text-sm">Author: </label>
          <div class="relative">
            {{ form.author }}
          </div>
        </div>

        <!-- Title -->
        <div class="col-span-1">
          <label for="title" class="block mb-2 text-sm">Title:</label>
          <div class="relative">
            {{ form.title }}
          </div>
        </div>

        <!-- Text -->
        <div class="col-span-2">
          <label for="text" class="block mb-2 text-sm">Text:</label>
          <div class="relative">
            {{ form.text }}
          </div>
        </div>
      </div>

      <!-- Save Button -->
      <button type="submit" class="w-full mt-4 rounded-lg bg-indigo-500 px-8 py-2 hover:bg-indigo-600">
        Save
      </button>
    </form>
   </div>
 </div>

<script type="text/javascript">
    CKEDITOR.replace('{{ form.text.id_for_label }}');
</script>




{% endblock %}

