<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello, Welcome to my Website Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="app.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script type="text/javascript">
</script>
<link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Archivo+Black&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header-animation px-3 py-3  px-lg-5 py-lg-3 text-lg-center d-flex align-items-start  align-items-lg-center" style="font-weight: bold;" id="main-header">
    <nav class="navbar navbar-expand-lg d-flex">
    <a href="#home" style="text-decoration: none" class="navbar-brand text-start flex-grow-lg-1 bd-highlight">FAIZCAN</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse">
      <span class="navbar-toggle-icon"></span>
    </button>
      <div class="collapse navbar-collapse px-5" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#about">About</a>
          </li>
          <li class="nav-item">
            <a href="#portofolio">My Portofolio</a>
          </li>
        </ul>
        <ul class="navbar-list list-unstyled">
          <li class="nav-item">
            <a href="#about">About</a>
          </li>
          <li class="nav-item">
            <a href="#portofolio">My Portofolio</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!--Home Page-->
  <div class="container mb-5">
  <div class="position-relative mb-5" id="home">
    <!--My Name Image-->
  <div class="d-none d-md-block">
    <img class="fade-in-image img-fluid" src="images/FaizCanText .png" alt="FaizCan Text Image">
  </div>
  <!--My Name Image End-->
  <!--Kafka Image-->
  <div class="rio position-absolute translate-middle-y d-none d-md-block">
    <img src="images/kafka.png" alt="rio image" width="1280" height="720">
  </div>
  <!--Kafka Image End-->
  <!--Nickname-->
  <div class="overlay-text d-block">
    FAIZ<span class="mx-2 bg-light" style="color:#087E8B">파이즈</span>
    <p class="py-2">CANIGGIA</p>
  </div>
  <!--Nickname End-->
  <!--Name Card-->
  <div class="overlay-object rounded d-none d-lg-block d-block mx-auto p-3">
    <img src="images/foto.png" alt="myphoto" class="d-block rounded-circle photo m-3" width="152px">
    <div class="d-flex container mx-auto ">
      <div class="mx-auto row align-items-center">
      <a href="https://www.facebook.com/prince.nostal/" class="col m-1 btn bg-info text-light bi bi-facebook" target="_blank" rel="noopener noreferrer"></a>
      <a href="https://www.linkedin.com/in/syeddinul-faiz-b959b9277" class="col m-1 btn bg-info text-light bi bi-linkedin" target="_blank" rel="noopener noreferrer"></a>
      <a href="https://www.instagram.com/faiz_can14?igsh=YTlnazJrOTJrNDZu" class="col m-1 btn bg-info text-light bi bi-instagram" target="_blank" rel="noopener noreferrer"></a>
      <a href="https://youtube.com/@faiz_can9235?si=bkd8t-nPOGtyQKnl" target="_blank" class="col m-1 btn btn-danger bi bi-youtube" rel="noopener noreferrer">Faiz_Can</a>
      </div>
    </div>
  </div>
  <!--Name Card End-->
  <!--Home Page-->

  <div class="trivia position-absolute translate-middle d-none d-lg-block">
    <div class="my-4" style="font-weight: bold">TRIVIA <span class="white-square" style="margin-left: 60px"></span></div>
    <p>I LOVE RETRO, ANIME AND VIDEO GAMES</p>
  </div>
  </div>
  </div>
  <!--Home Page End-->
  <!--About Me-->
  <div class="main-page p-5 container" style="padding-top: 1000px" id="about">
      <div class="row d-flex align-items-strech">
    <div class="col-md-2">
  <h1 style="font-weight: bold;" class="mb-5">About Me<span class="white-square" style="margin-left: 40px;"></span></h1>
  <p>My Name is Syeddinul Faiz Caniggia; <br class="mb-5"> I'm a Student of Pelita Bangsa University; <br class="mb-5"> I'm Indonesian.</p>
    </div>

    <div class="col-md-6 text-wrap mx-auto">
      <div class="embed-responsive embed-responsive-item-16by9">        
    <iframe class="embed-responsive-item videoYT" src="https://www.youtube.com/embed/OHeH3-2R2nk?si=yD8wTXRIyd0naHc4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>


  <div class="col-md-2 text-wrap">
    <h1 style="font-weight: bold" class="mb-5 text-nowrap">"FaizCan" What is it ? <span class="white-square" style="margin-left: 40px;"></span></h1>
  <p>That's an abreviation of my name "Faiz Caniggia" "FaizCan" see... <br class="mb-2"> <h1 style="font-weight: bold;" class="mb-5 text-nowrap">How to pronounce it? <span class="white-square" style="margin-left: 40px;"></span></h1> "Faiz"; just how you said "Kamen Rider Faiz" <br class="mb-3"> "Can"; not like "Can" in "Tincan", but like "Chan" in Japanese</p>
  </div>

  <div class="py-5 px-2 text-wrap text-justify text-break lh-sm">
    I'm a human, just like you, but we are different... you are unique. You may have different specialties and varying talents. That's what humans are about—each person doesn't have to do what everyone else does. Be the best version of yourself and be grateful for what you have; that's enough. That's what being human is about. Chase your dreams as you desire, as long as they align with norms and ethics, and let nature determine the outcome. Why? Because some things are beyond our control. Do good deeds and be happy.
  </div>
      </div>
  </div>
<div>
  <!--About Me Page End-->
  <!--Likes Page-->
  <div class="my-5">
    <div class="container row p-5 retro mygif mx-auto">  
    <img class="col-6 mx-auto" src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExZzFrd2JyZmt1aTVlN3JrYXltMzUybTM5MmlycDM2em80am55eno0dSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ymeUOkullmWn6/giphy.gif" alt="daftpunkgif">
            <img class="col-6 mx-auto" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaWZlZTd3ZTljdjE5NGJrY3M2dG4wcG5sZ3ZubDd6MWJ0NXJ6ODZlbSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/1wqYonEBtues7jlngs/giphy-downsized-large.gif" alt="walkman" >
            <img class="col-6 mx-auto" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExM3FtbHA2ZG5tYWp4amllNzR6d2RkMGQ5ZW9qemh3c2N2NzhyOGZ5NCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l44QvKoQuUD3xPZKg/giphy.gif" alt="vhs">
           <img class="col-6 mx-auto" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExem00anV3MHZheGE5bHByaGttZng4dGpleGFpOWptZWY4NGZsa2g4NiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/kYDFO3rkOHrkQ/giphy.gif" alt="ps1">
           <div class="d-blok py-5 text-center">
           <h1 class="anime-retro">ANIME AND RETRO</h1>
           <p>Two Words that i like the most... I born in early 2000s and I do Love retro and retro style anime</p>
           </div>
           <img class="col-6 mx-auto" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYXU1cG1qYThhcHQxZG9mZjFlYWl0ZGlrc2M4ZmUxNmU3OGpqbTg3aCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/C7ouYygtupQfm/giphy.gif" alt="macintosh">
              <img class="col-6 mx-auto" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExamtpb2h1bWNkeWVqaXd2dHVrdXc3Y3c0N2huaTdvNzN3OTByZzZhNCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/V31vytimGbskM/giphy-downsized-large.gif" alt="typewriter">
              <img class="col-6 mx-auto" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExa3V4cDk0am83M3lub3UzbmU1NnBqZ2k4c3hrOHQ0b201a2dnbDIyOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/lcYkeZa1gBCzS/giphy.gif" alt="win95">
              <img class="col-6 mx-auto" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExamU1OHhsYWcwZzNhcm9vcjY4ODRwdTBuMnV1dzFwMzRma2xnYmVpaCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/7dusq9P6OtRaA0H9x8/giphy.gif" alt="crt">
    </div>
  </div>
</div>
  <!--Likes Page End-->
  
  <!--Portofolio Page-->
<div class="container py-5 my-5" id="portofolio">
  <div class="">
    <h1 class="text-center my-5 fs-1 porto" style="font-weight: bold;">Portofolio<span class="white-square" style="margin-left: 40px;"></span></h1>
    <div class="text-justify lh-sm">
     I know.. You might suspecting something i made, right? Unfortnutately I'm not yet making something good other than making videos on My Youtube Channel and following some online course. but here are few Programming Language I learnt, some of them contain a link to my certificate and some aren't. The Good Things are coming soon....
    </div>
  </div>
  <div class="row align-items-center d-flex justify-content-around flex-wrap">
    <a class=" rounded-pill col-3 d-flex justify-content-center">
      <img src="images/Python.png"  alt="Python logo">
    </a>
		<a class="prgmbrdr rounded-pill d-flex justify-content-center col-3 py-5">
      <img src="images/c++.png"  alt="C++ logo">
    </a>
		<a href="https://www.codepolitan.com/c/M3AW6PK/" class="d-flex py-5 justify-content-center rounded-pill col-3" target="_blank" rel="noopener noreferrer">
      <img src="images/JSLogo.png"  alt="JavaScript Logo">
    </a>
		<a href="https://www.codepolitan.com/c/6TRDOWC/" class="d-flex py-5 justify-content-center rounded-pill col-3" target="_blank" rel="noopener noreferrer">
		<a href="https://www.codepolitan.com/c/6TRDOWC/" class="rounded-pill py-5 d-flex justify-content-center col-3" target="_blank" rel="noopener noreferrer">
      <img src="images/html5.png"  alt="HTML5 Logo">
    </a>
		<a href="https://www.codepolitan.com/c/AJ9BPUZ/" class=" d-flex  py-5 justify-content-center rounded-pill col-3" target="_blank" rel="noopener noreferrer">
      <img src="images/css.png"  alt="CSS Logo">
    </a>
		<a href="https://www.codepolitan.com/c/JH9HUK4/" class=" d-flex  py-5 justify-content-center rounded-pill col-3" target="_blank" rel="noopener noreferrer">
      <img src="images/bslogo.png"  alt="Bootstrap Logo">
    </a>
		<a href="https://myacademy.oracle.com/lmt/clmsCertificate.prMain?in_sessionId=15153J88889A4831&in_learnerid=1498014561&in_language_id=id&in_region=id&in_lp_id=72453028&in_type=PDF" class=" d-flex justify-content-center rounded-pill  py-5 col-3" id="oracle" target="_blank" rel="noopener noreferrer">
      <img src="images/oracledatabase.png" alt="Oracle Database Logo">
    </a>
  </div>
  <div class="d-flex justify-content-center align-items-center mx-auto">  
  Here's are my GitHub Page 
  <a href="https://github.com/RhapsodyInBlueMelody" class=" mx-1 btn bg-dark text-light bi bi-github" target="_blank" rel="noopener noreferrer"> GitHub</a>
  </div>
  </div>
</div>
  <!--Portofolio Page End-->


<footer class="bg-dark">
  
</footer>
<script type="text/javascript" src="app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>

