{% extends 'blog/index.html' %}

{% load custom_filters %}

{% load static %}

{% block content %}
    <h1 class="font-brunoace title antialiased my-12  titleFloat text-4xl text-white font-extrabold text-center">What Would you like to read today?<h1>
<div class="grid gap-0 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {% for post in posts %}
    <article class="boxList relative p-6 my-6 mx-8 text-white shadow-lg rounded-lg backdrop-blur-lg bg-white/20 border border-white/20">
        <!-- Folder Tab -->
        <div class="absolute -top-5 left-0 w-40 h-10 rounded-t-lg bg-white/30 backdrop-blur-md flex items-center justify-center">
            <h2 class="text-lg font-bold text-gray-800">{{ post.title }}</h2>
        </div>
        
        <!-- Main Content -->
        <div class="mt-2 pt-5  text-left flex flex-col h-full">
            <p class="text-gray-100 flex-grow">{{ post.text|truncate_text:100 }}</p>

        <!-- Bottom Section: Published Date and More Link -->
        <div class="flex justify-between items-center text-xs text-gray-400">
            {% if post.published_date %}
            <div class="font-bold">
                Published: <time class="time">{{ post.published_date }}</time>
            </div>
            {% endif %}
            <a href="{% url 'post_detail' post.pk %}" class="text-indigo-300 hover:underline">More</a>
        </div>
        </div>
    </article>
    {% empty %}
    <p class="text-center text-gray-500">No posts available.</p>
    {% endfor %}
</div>
{% endblock %}
