{% extends 'blog/index.html' %}

{% block content %}
<main class="mx-72">
<a href="{% url 'index' %}" class="flex items-center space-x-2 w-20 h-20 text-white btn mb-10 btn-secondary return-arrow">
  {% include './icons/back-arrow.svg' %} 
  <span class="return-text">Return</span>
</a>
<div class="contentArticle relative  text-white shadow-lg rounded-lg backdrop-blur-lg bg-white/20 border border-white/20 post">
        <div class="absolute -top-8 left-0 w-2/4 h-10 rounded-t-lg bg-white/30 backdrop-blur-md flex items-center pl-2 sm:pl-3 md:pl-5 lg:pl-5">
        <h2 class="text-sm font-bold sm:text-lg md:text-xl  lg:text-2xl">{{ post.title }}</h2>
        </div>
    <article class="content-article p-2 sm:p-3 md:p-5 lg:p-6 ">
      <div>
      <div class="shine-overlay absolute inset-0 bg-gradient-o-r from-transparent via-white/70 to-transparent opacity-0"></div>
        <aside class="actions flex justify-end ">
        {% if user.is_authenticated %}
            <a class="btn  btn-secondary " href="{% url 'post_edit' pk=post.pk %}">
                {% include './icons/pencil-fill.svg'%}
            </a>
            {% endif %}
        </aside>
        {% if post.published_date %}
        <div class="mb-20 justify-between items-center text-xs text-gray-300 "> Published: 
            <time class="date">
                {{ post.published_date }}
            </time>
        </div>
        {% endif %}
        <p>{{ post.text|safe|linebreaksbr }}</p>
        <div>
    </article>
        </div>
</main>
        <script>
    // Redirect to the index page on page reload
    window.addEventListener('beforeunload', function (e) {
        if (window.performance && performance.navigation.type === 1) { // 1 means reload
            window.location.href = "{% url 'index' %}";
        }
    });
</script>
{% endblock %}
