{% load custom_filters %}

{% load static %}

{% block content %}
    <h1 class="title antialiased my-12  floatting text-4xl text-white font-extrabold text-center">What Would you like to read today?<h1>
    {% for post in posts %}
    <article class="boxList antialiased bg-white p-6 rounded-lg shadow-lg my-6 mx-8">
        <h2 class="text-xl font-bold mb-2">{{ post.title }}</h2> 
        {% if post.published_date %}
          <div> Published: 
            <time class="time">
                {{ post.published_date }}
            </time
            </div>
        {% endif %}
        <div class="my-5">
        <p class="text-gray-700">{{ post.text|truncate_text:100  }}</p>
        <a href="{% url 'post_detail' post.pk %}" class="text-indigo-600 hover:underline">Read more</a>
        <div>
      </article>
    {% empty %}
      <p class="text-center text-gray-500">No posts available.</p>
    </div>
    {% endfor %}
{% endblock %}
